.aids{
    padding-top: 54px;
    text-align: center;
    background: url("../../img/aids__bg.png") no-repeat center center;
    content: '';
    width: 100%;
}
.aids__title {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.aids__paragraph {
    margin: 0 auto; 
    padding: 0;
    max-width: 542px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    margin-bottom: 32px;
    text-align: center;
}
.aids__content-wrapper {
    display: flex;
    justify-content: center;
}
.aids__content{
    margin-right: 191px;
    &:last-child{
        margin-right: 0;
    }
}

.aids__content-one .aids__item:nth-child(even) {   
    flex-direction: row-reverse;
}
.aids__content-one .aids__img:nth-child(even){
    margin-right: 0;
}

.aids__content-two .aids__item:nth-child(odd){
    flex-direction: row-reverse
}
.aids__list {
    @include reset-list;
}
.aids__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aids__desc{
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
}

.aids__button{
    margin-top: 63px;
}

@media only screen and (max-width:$tablet){
    .aids__content{
        margin-right: 40px;
    }
}

@media only screen and (max-width:$mobile){
   
    .aids{
        background: url("../../img/bg-aids-mobile.png") no-repeat center top;
        width: 100%;
        top: -1px;
        content: '';
    }
    .aids__content-wrapper{
        display: block;
    }
    .aids__content{
        margin-right: 0;
    }
    .aids__content-two .aids__item:nth-child(odd){
        flex-direction: row
    }
    .aids__content-two .aids__item:nth-child(even){
        flex-direction: row-reverse
    }
}